html, body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@red: #fe4236;

.transition {
	-webkit-transition:all;
	-o-transition:all;
	transition:all;
	-webkit-transition-duration:.3s;
	transition-duration:.3s
}

header {

	a.logo {
		display: inline-block;
		background: url('../img/logo.png');
		background-size: cover;
		width: 390px;
		height: 90px;
	}

	a.menu-btn {
		display: none;
		width: 30px;
		height: 30px;
		/* background: wheat; */
		border-bottom: 3px solid #555;
		border-top: 3px solid #555;
		position: absolute;
		right: 15px;
		top: 30px;
		&:after {
			content: '';
			display: block;
			height: 3px;
			width: 30px;
			position: absolute;
			top: 11px;
			background: #555;
		}
	}

	&.other {
		padding: 15px 0;

		a.logo {
			width: 260px;
			height: 56px;
			background-position: center center;
		}

		.menu {
			float: right;
			font-size: 0;
			li {
				display: inline-block;
				padding-left: 20px;
				a {
					color:  #333;
					font-size: 14px;
					text-decoration: none;
					border-bottom: 1px dashed;
					opacity: 0.8;
					line-height: 50px;
					.transition;

					&:hover, &.active {
						opacity: 1;
						color: @red;
						border-bottom-color: @red;
					}
				}
			}
		}
	}

	&.main {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
		padding: 15px 0;
		text-align: center;

		.menu {
			padding-top: 15px;
			font-size: 0;
			li {
				display: inline-block;
				padding: 0 10px;
				a {
					color: white;
					font-size: 20px;
					text-decoration: none;
					border-bottom: 1px dashed;
					opacity: 0.8;
					.transition;

					&:hover {
						opacity: 1;
						color: @red;
						border-bottom-color: @red;
					}
				}
			}
		}
	}
}

footer {
	padding: 20px 0;

	hr {
		border-color: #333;
	}
	p {
		margin: 0;
	}
}

.main-box {
	section {
		&.first {
			min-height: 100vh;
			background: url('../img/bg.jpg');
			background-size: cover;
			background-position: center;
			position: relative;
			&::before {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.3);
				content: '';
			}

			.next {
				color: white;
				font-size: 14px;
				position: absolute;
				bottom: 40px;
				left: 50%;
				width: 80px;
				margin-left: -40px;
				text-align: center;
				border-radius: 20px;
				border: 1px solid;
				text-decoration: none;
				padding: 4px 0;
			}
		}

		&.easy {
			padding: 50px 0;

			h1 {
				color: @red;
				letter-spacing: 5px;
				text-transform: uppercase;
				font-size: 30px;
				margin: 0;
				position: relative;

				&::before {
					position: absolute;
					display: block;
					width: 40px;
					height: 2px;
					background: @red;
					content: '';
					left: -55px;
					top: 16px;
				}
			}

			p {
				&.name {
					font-size: 20px;
					font-weight: 700;
				}
				&.name-small {
					font-size: 16px;
					text-align: left;
					font-weight: 700;
				}
				&.desc {
					font-size: 13px;
					font-weight: 300;
					text-align: justify;
				}

				.link {
					color: #333;
					text-decoration: none;
					border-bottom: 1px dashed;
				}
			}

			.pad-easy-30 {
				padding: 30px 0;

				p {
					text-align: justify;

					.link {
						color: #333;
						text-decoration: none;
						border-bottom: 1px dashed;
					}
				}
			}

			.play-alboum {
				padding: 30px 0;
				background: #f8f8f8;
			}

			.lightgallery {
				img {
					width: 100%;
				}
			}

			.alboum-list {
				.lightgallery {
					margin-top: 30px;
					a {
						margin-bottom: 30px;
						display: block;
					}
				}
			}

			.blog-list {
				.blog-item {
					margin-bottom: 30px;

					img {
						width: 100%;
					}

					p {

						&.title {
							font-weight: 700;
							font-size: 16px;
							margin-bottom: 0;
						}
						&.date {
							font-weight: 300;
							font-size: 12px;
						}
						&.desc {
							margin-top: 15px;
							font-size: 14px;
							text-align: justify;
						}
					}
				}
			}
		}

		.desc-albom {
			font-size: 13px;
			font-weight: 300;
			margin-top: 15px;
			margin-bottom: 0;
		}

		.contacts-page {
			form {
				margin-top: 40px;

				label {
					font-weight: 500;
					font-size: 14px;
				}

				.form-control {
					min-height: 50px;
					resize: none;
				}
			}
		}
	}

	.music-list {
		margin-top: 25px;
		li {
			border-bottom: 1px solid #ccc;
			&:first-child {
				border-top: 1px solid #ccc;
			}
			a {
				display: block;
				padding: 5px 0;
				color: #333;
				text-decoration: none;
				font-size: 13px;
				font-weight: 300;

				.first {
					width: 60px;
					display: inline-block;
				}

				.pause {
					display: none;
				}

				.play {
					display: none;
				}

				.duration {
					float: right;
				}

				&:hover {
					.play {
						display: inline-block;
						color: #009ee3;
					}
					.count {
						display: none;
					}
				}

				&.sm2_paused {
					.pause {
						display: inline-block;
						color: @red;
					}
					.count {
						display: none;
					}
					&:hover {
						.pause {
							display: none;
						}
					}
				}
				&.sm2_playing {
					.play {
						display: inline-block;
						color: #2ea664;
					}
					.count {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	header {
		a.logo {
			width: 270px;
			height: 62px;
		}
		&.other {
			a.menu-btn {
				display: block;
			}
			.menu {
				float: none;
				position: absolute;
				background: white;
				width: 100%;
				left: 0;
				padding: 0 15px;
				z-index: 10;
				display: none;
				.transition;

				li {
					display: block;
					padding: 0;
					text-align: center;
				}

				&.open {
					display: block;
				}
			}
		}
	}
	.main-box {
		section {
			&.easy {
				padding: 20px 0;
			}
		}
	}
}