html,
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.transition {
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}
header a.logo {
  display: inline-block;
  background: url(/images/logo.png?f452fab708bec0d1185fbbda6a133738);
  background-size: cover;
  width: 390px;
  height: 90px;
}
header a.menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  /* background: wheat; */
  border-bottom: 3px solid #555;
  border-top: 3px solid #555;
  position: absolute;
  right: 15px;
  top: 30px;
}
header a.menu-btn:after {
  content: '';
  display: block;
  height: 3px;
  width: 30px;
  position: absolute;
  top: 11px;
  background: #555;
}
header.other {
  padding: 15px 0;
}
header.other a.logo {
  width: 260px;
  height: 56px;
  background-position: center center;
}
header.other .menu {
  float: right;
  font-size: 0;
}
header.other .menu li {
  display: inline-block;
  padding-left: 20px;
}
header.other .menu li a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px dashed;
  opacity: 0.8;
  line-height: 50px;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}
header.other .menu li a:hover,
header.other .menu li a.active {
  opacity: 1;
  color: #fe4236;
  border-bottom-color: #fe4236;
}
header.main {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  text-align: center;
}
header.main .menu {
  padding-top: 15px;
  font-size: 0;
}
header.main .menu li {
  display: inline-block;
  padding: 0 10px;
}
header.main .menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px dashed;
  opacity: 0.8;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}
header.main .menu li a:hover {
  opacity: 1;
  color: #fe4236;
  border-bottom-color: #fe4236;
}
footer {
  padding: 20px 0;
}
footer hr {
  border-color: #333;
}
footer p {
  margin: 0;
}
.main-box section.first {
  min-height: 100vh;
  background: url(/images/bg.jpg?a42b051e80989b5baf4f0e1eb4c34569);
  background-size: cover;
  background-position: center;
  position: relative;
}
.main-box section.first::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
}
.main-box section.first .next {
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid;
  text-decoration: none;
  padding: 4px 0;
}
.main-box section.easy {
  padding: 50px 0;
}
.main-box section.easy h1 {
  color: #fe4236;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  position: relative;
}
.main-box section.easy h1::before {
  position: absolute;
  display: block;
  width: 40px;
  height: 2px;
  background: #fe4236;
  content: '';
  left: -55px;
  top: 16px;
}
.main-box section.easy p.name {
  font-size: 20px;
  font-weight: 700;
}
.main-box section.easy p.name-small {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
}
.main-box section.easy p.desc {
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
}
.main-box section.easy p .link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed;
}
.main-box section.easy .pad-easy-30 {
  padding: 30px 0;
}
.main-box section.easy .pad-easy-30 p {
  text-align: justify;
}
.main-box section.easy .pad-easy-30 p .link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed;
}
.main-box section.easy .play-alboum {
  padding: 30px 0;
  background: #f8f8f8;
}
.main-box section.easy .lightgallery img {
  width: 100%;
}
.main-box section.easy .alboum-list .lightgallery {
  margin-top: 30px;
}
.main-box section.easy .alboum-list .lightgallery a {
  margin-bottom: 30px;
  display: block;
}
.main-box section.easy .blog-list .blog-item {
  margin-bottom: 30px;
}
.main-box section.easy .blog-list .blog-item img {
  width: 100%;
}
.main-box section.easy .blog-list .blog-item p.title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}
.main-box section.easy .blog-list .blog-item p.date {
  font-weight: 300;
  font-size: 12px;
}
.main-box section.easy .blog-list .blog-item p.desc {
  margin-top: 15px;
  font-size: 14px;
  text-align: justify;
}
.main-box section .desc-albom {
  font-size: 13px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 0;
}
.main-box section .contacts-page form {
  margin-top: 40px;
}
.main-box section .contacts-page form label {
  font-weight: 500;
  font-size: 14px;
}
.main-box section .contacts-page form .form-control {
  min-height: 50px;
  resize: none;
}
.main-box .music-list {
  margin-top: 25px;
}
.main-box .music-list li {
  border-bottom: 1px solid #ccc;
}
.main-box .music-list li:first-child {
  border-top: 1px solid #ccc;
}
.main-box .music-list li a {
  display: block;
  padding: 5px 0;
  color: #333;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
}
.main-box .music-list li a .first {
  width: 60px;
  display: inline-block;
}
.main-box .music-list li a .pause {
  display: none;
}
.main-box .music-list li a .play {
  display: none;
}
.main-box .music-list li a .duration {
  float: right;
}
.main-box .music-list li a:hover .play {
  display: inline-block;
  color: #009ee3;
}
.main-box .music-list li a:hover .count {
  display: none;
}
.main-box .music-list li a.sm2_paused .pause {
  display: inline-block;
  color: #fe4236;
}
.main-box .music-list li a.sm2_paused .count {
  display: none;
}
.main-box .music-list li a.sm2_paused:hover .pause {
  display: none;
}
.main-box .music-list li a.sm2_playing .play {
  display: inline-block;
  color: #2ea664;
}
.main-box .music-list li a.sm2_playing .count {
  display: none;
}
@media (max-width: 768px) {
  header a.logo {
    width: 270px;
    height: 62px;
  }
  header.other a.menu-btn {
    display: block;
  }
  header.other .menu {
    float: none;
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    padding: 0 15px;
    z-index: 10;
    display: none;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: 0.3s;
  }
  header.other .menu li {
    display: block;
    padding: 0;
    text-align: center;
  }
  header.other .menu.open {
    display: block;
  }
  .main-box section.easy {
    padding: 20px 0;
  }
}
